

{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    body{
        background-color: gray;
    }

</style>
<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-check fa-3x" aria-hidden="true" style="color: green;"></i>

        <br>
        <h5> <strong> Your account is now active. </strong> </h5>
        <hr>
        <p>Please process to login. </p>
        </div>
    </div>
</body>
{% endblock %}